name: ci

on: [push]

jobs:
  build:
    permissions:
      actions: write
      checks: write
      contents: write
      deployments: write
      issues: write
      packages: write
      pull-requests: write
      repository-projects: write
      security-events: write
      statuses: write

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 16
        registry-url: 'https://registry.npmjs.org'

    - run: yarn install

    - name: build tokens
      run: yarn token

    - name: git setting
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"

    # TODO: figma-tokensからpushした場合だけCI動かしたい
    - name: Commit & Push
      run: |
        git add .
        git commit -m "update" -a
        git push origin master
        # if ! git diff --exit-code --quiet
        # then
        #   echo 'はいったよ'
        #   git diff
        #   git commit -m "update" -a
        #   npm version patch --force
        #   git push origin master
        #   npm publish --access public
        # fi
      env:
        NODE_AUTH_TOKEN: ${{ secrets.AUTH_TOKEN }}

    # - run: npm publish --access public
    #   env:
    #     NODE_AUTH_TOKEN: ${{ secrets.AUTH_TOKEN }}
